@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Quicksand:wght@300;400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: #f0f8ff;
  word-wrap: break-word;
}

h1 {
  font-family: "Oswald";
  font-weight: 400;
}

h5 {
  font-family: "Quicksand";
  font-weight: 700;
}

a {
  text-decoration: none !important;
}

label,
p {
  font-family: "Quicksand";
}


/* home navigation bar */
.navbar {
  background-color: #2C70B9;
  font-family: "Quicksand";
  font-weight: 400;
}

.navbar-toggler {
  color: white;
  border: none;
}

.navbar i {
  color: white;
  margin: auto 5px;
  font-size: 12px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* Home content page */

input {
  font-family: "Quicksand";
  font-weight: 700;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input,
.btn,
a[type="button"] {
  font-family: "Quicksand";
  font-weight: 700;
  background-color: #2C70B9;
}


/* Modal section */

.otp-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.otp-form img {
  height: 200px;
  width: auto;
}

.otp-paragraph {
  margin: 0;
  padding: 0;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.otp-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.otp-div input {
  width: 50px;
  height: 50px;
  text-align: center;
  border: solid red 1px;
}

/* .modal .modal-dialog .modal-content,
.otp_form_div {
  text-align: center;
} */



.has_error {
  background-color: rgba(218, 16, 16, 0.733) 0px 48px 100px 0px;
}

.form-control {
  border: 1px solid #b4ccfa;
}

.claim_container {
  margin-top: 50px;
  padding: 100px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.loadingoverlay_element {
  /* order: 1; */
  box-sizing: border-box;
  overflow: visible;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: loadingoverlay_animation__rotate_right;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 120px;
  height: 120px;
}

.loadingoverlay {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.7);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
}



.loadingoverlay_element svg {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingoverlay_element circle {
  animation: 1s ease-in-out infinite alternate;
}